.header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &>div{
        display: flex;
        align-items: center;
    }
    .menu_icon{
        display: block;
        font-size: 18px;
    }
    .icon{
        display: block;
        font-size: 18px;
        margin-right: 24px;
        &:last-child{
            margin-left: 24px;
            margin-right: 0;
        }
    }
   
}
